/* main styling sheet ro anything not handled by bootstrap */

#logout {
    color: rgba(107, 107, 107, 0.55);
    border: none;
    padding-top: 8px;
    margin-left: 2px
}

#dash-board {
    padding-top: 5rem;
}

.navbar-nav {
    align-items: right;
}

.secText {
    color: rgba(107, 107, 107, 0.55);
}

.hide {
    display: none;
}

.a {
    color: black;
    text-decoration: none;
}

#links {
    align-items: right;
}